.header-section {
  background-image: url(../../img/Blog-page/blog-1.jpg);
  background-position-x: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-section::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #121619;
  opacity: 0.8;
}
.header-section .header-section-text {
  z-index: 2;
}
.header-section .header-section-text h1 {
  font-size: 45px;
  color: white;
}

.main-section {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
}
.main-section .main-section-left-column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.main-section .main-section-left-column h2 {
  font-size: 18px;
}
.main-section .main-section-left-column .left-column-input {
  position: relative;
  padding: 30px 0px;
}
.main-section .main-section-left-column .left-column-input input {
  padding-left: 10px;
  width: 250px;
  height: 40px;
  border: rgb(210, 210, 210) 0.5px solid;
}
.main-section .main-section-left-column .left-column-input i {
  position: absolute;
  top: 50%;
  left: 220px;
  transform: translateY(-50%);
  color: rgb(170, 170, 170);
}
.main-section .main-section-left-column ul {
  padding: 20px 0px;
}
.main-section .main-section-left-column ul li {
  padding: 20px 0px;
  color: gray;
  font-size: 13px;
  width: 170px;
  cursor: pointer;
  border-top: 1px solid rgb(210, 210, 210);
  transition: 0.5s all;
}
.main-section .main-section-left-column ul li:last-child {
  border-bottom: 1px solid rgb(210, 210, 210);
}
.main-section .main-section-left-column ul li:hover {
  color: #fd9d3e;
}
.main-section .main-section-left-column .recent-tab {
  padding: 20px 0px;
}
.main-section .main-section-left-column .recent-tab .recent-tab-content {
  padding: 15px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.main-section .main-section-left-column .recent-tab .recent-tab-content img {
  transition: 0.5s;
}
.main-section .main-section-left-column .recent-tab .recent-tab-content img:hover {
  scale: 1.15;
}
.main-section .main-section-left-column .recent-tab .recent-tab-content .recent-tab-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-section .main-section-left-column .recent-tab .recent-tab-content .recent-tab-content-text p,
.main-section .main-section-left-column .recent-tab .recent-tab-content .recent-tab-content-text span {
  padding: 5px 10px;
  color: #fd9d3e;
  font-size: 14px;
  width: 200px;
}
.main-section .main-section-left-column .recent-tab .recent-tab-content .recent-tab-content-text span {
  color: #121619;
  font-weight: 700;
}
.main-section .main-section-left-column .tag-content {
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 210px;
}
.main-section .main-section-left-column .tag-content span {
  text-align: center;
  border: 1px solid rgb(207, 207, 207);
  margin: 0px 5px;
  color: gray;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
  transition: 0.5s all;
  margin-top: 10px;
}
.main-section .main-section-left-column .tag-content span:hover {
  background-color: #fd9d3e;
  color: white;
}
.main-section .main-section-right-column {
  display: flex;
  flex-direction: column;
}
.main-section .main-section-right-column .navigation-bottom-buttons button {
  padding: 12px;
  background-color: #121619;
  color: white;
  cursor: pointer;
  transition: 0.5s all;
}
.main-section .main-section-right-column .navigation-bottom-buttons button:hover {
  scale: 1.1;
}
.main-section .main-section-right-column .navigation-bottom-buttons .bottom-btn {
  margin-left: 7px;
  background-color: white;
  color: rgb(128, 128, 128);
  border: 1px solid rgb(160, 160, 160);
}
.main-section .main-section-right-column .navigation-bottom-buttons .bottom-btn:hover {
  border: 1px solid #121619;
}
.main-section .main-section-right-column .right-column-blog-box {
  padding: 30px 0px;
}
.main-section .main-section-right-column .right-column-blog-box .writer-text {
  display: flex;
}
.main-section .main-section-right-column .right-column-blog-box .writer-text span {
  font-size: 13px;
  margin: 15px 0px;
}
.main-section .main-section-right-column .right-column-blog-box .writer-text span:nth-child(2) {
  margin-left: 10px;
}
.main-section .main-section-right-column .right-column-blog-box .writer-comment h1 {
  font-size: 25px;
  transition: 0.3s;
  cursor: pointer;
}
.main-section .main-section-right-column .right-column-blog-box .writer-comment h1:hover {
  color: #fd9d3e;
}
.main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
  display: flex;
  flex-direction: column;
  width: 880px;
}
.main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans span {
  color: rgb(160, 160, 160);
  font-size: 14px;
  margin-top: 10px;
}
.main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans span:nth-child(2) {
  color: #fd9d3e;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  transition: 0.4s;
}
.main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans span:nth-child(2):hover {
  color: black;
}

/*#region Blog-Responsive*/
@media only screen and (max-width: 1280px) {
  .main-section .main-section-right-column .right-column-blog-box img {
    width: 800px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
    width: 800px;
  }
}
@media only screen and (max-width: 1180px) {
  .main-section .main-section-right-column .right-column-blog-box img {
    width: 700px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment h1 {
    font-size: 22px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
    width: 700px;
  }
}
@media only screen and (max-width: 1080px) {
  .main-section .main-section-right-column .right-column-blog-box img {
    width: 620px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment h1 {
    font-size: 20px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
    width: 620px;
  }
}
@media only screen and (max-width: 950px) {
  .main-section .main-section-right-column .right-column-blog-box img {
    width: 520px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment h1 {
    font-size: 17px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
    width: 520px;
  }
}
@media only screen and (max-width: 860px) {
  .main-section .main-section-right-column .right-column-blog-box img {
    width: 480px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment h1 {
    font-size: 14px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
    width: 480px;
  }
}
@media only screen and (max-width: 800px) {
  .main-section {
    flex-direction: column-reverse;
  }
  .main-section .main-section-right-column {
    align-items: center;
  }
  .main-section .main-section-right-column .right-column-blog-box img {
    width: 600px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment h1 {
    font-size: 18px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
    width: 600px;
  }
}
@media only screen and (max-width: 615px) {
  .main-section {
    flex-direction: column-reverse;
  }
  .main-section .main-section-right-column {
    align-items: center;
  }
  .main-section .main-section-right-column .right-column-blog-box img {
    width: 520px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-text span {
    font-size: 11px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment h1 {
    font-size: 15px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
    width: 520px;
  }
}
@media only screen and (max-width: 530px) {
  .main-section {
    flex-direction: column-reverse;
  }
  .main-section .main-section-right-column {
    align-items: center;
  }
  .main-section .main-section-right-column .right-column-blog-box img {
    width: 450px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment h1 {
    font-size: 14px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
    width: 450px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans span {
    font-size: 12px;
  }
}
@media only screen and (max-width: 460px) {
  .main-section {
    flex-direction: column-reverse;
  }
  .main-section .main-section-right-column {
    align-items: center;
  }
  .main-section .main-section-right-column .right-column-blog-box img {
    width: 320px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment h1 {
    font-size: 11px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans {
    width: 320px;
  }
  .main-section .main-section-right-column .right-column-blog-box .writer-comment .writer-comment-spans span {
    font-size: 10px;
  }
}
/*#endregion *//*# sourceMappingURL=blog.css.map */