.main-banner {
  position: relative;
  background-color: #121619;
  width: 100%;
  height: 820px;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-banner .main-first-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 350px;
}
.main-banner .main-first-part .first-part-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  line-height: 1.5;
}
.main-banner .main-first-part .first-part-text p {
  animation: opacityScaling 3s;
  font-size: 110px;
  color: white;
  font-weight: 750;
}
.main-banner .main-first-part .first-part-text span:nth-child(2) {
  animation: opacityScaling 6s;
  word-spacing: 10px;
  letter-spacing: 6px;
  color: #fd9d3e;
  font-size: 21px;
  white-space: nowrap;
}
.main-banner .main-first-part .first-part-img {
  position: relative;
}
.main-banner .main-first-part .first-part-img .first-part-img-pizza {
  animation: opacity 2s;
  width: 90%;
}
.main-banner .main-first-part .first-part-img .first-part-second-img {
  display: none;
  animation: opacity 6s;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture img {
  position: absolute;
  bottom: 20%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-1 {
  animation: opacityScaling 4s;
  left: 72%;
  bottom: 72%;
  width: 30%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-2 {
  animation: opacityScaling 5s;
  top: -2%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-3 {
  animation: opacityScaling 6s;
  top: 20%;
  left: -7%;
  width: 10%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-4 {
  animation: opacityScaling 6s;
  bottom: -12%;
  left: 45%;
  z-index: 1;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-5 {
  animation: opacityScaling 5s;
  right: 0%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-6 {
  animation: opacityScaling 2.5s;
  right: 0%;
  top: 83%;
  width: 30%;
}
.main-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.second-main {
  height: 400px;
  background-color: #fd9d3e;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-main .second-main-content .second-main-content-svg-text {
  align-items: center;
  justify-content: center;
  padding: 0px 200px;
  display: none;
}
.second-main .second-main-content .second-main-content-svg-text img {
  max-width: 90px;
}
.second-main .second-main-content .second-main-content-svg-text .second-main-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: marginBottom 1s;
}
.second-main .second-main-content .second-main-content-svg-text .second-main-order img {
  animation: opacityScaling 1s;
  cursor: pointer;
}
.second-main .second-main-content .second-main-content-svg-text .second-main-order p {
  animation: opacityScaling 2s;
  font-size: 25px;
  font-weight: 900;
  padding-top: 15px;
  color: #121619;
}
.second-main .second-main-content .second-main-content-svg-text .second-main-order span {
  animation: opacityScaling 2.5s;
  width: 65%;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}
.second-main .second-main-content .second-main-top-img {
  position: absolute;
  left: 0;
  bottom: 99%;
}
.second-main .second-main-content .second-main-top-img img {
  width: 100%;
}
.second-main .second-main-content .second-main-bottom-img {
  position: absolute;
  left: 0;
  top: 99%;
}
.second-main .second-main-content .second-main-bottom-img img {
  width: 100%;
}

.third-main {
  height: 980px;
  width: 100%;
}
.third-main .third-main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 170px;
}
.third-main .third-main-header p {
  color: #fd9d3e;
  font-size: 30px;
  font-family: Pacifico;
}
.third-main .third-main-header h1 {
  color: #121619;
  font-size: 50px;
  font-family: 900;
}
.third-main .third-main-pizzas {
  animation: marginBottomLowPixel 2s;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
  padding: 25px 300px;
}
.third-main .third-main-pizzas .third-main-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-main .third-main-pizzas .third-main-pizza img {
  transition: 0.8s all;
  border-radius: 50%;
}
.third-main .third-main-pizzas .third-main-pizza img:hover {
  scale: 1.1;
}
.third-main .third-main-pizzas .third-main-pizza p {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #121619;
}
.third-main .third-main-button {
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  animation: marginBottomLowPixel 3s;
  display: none;
}
.third-main .third-main-button button {
  padding: 25px 40px;
  border-radius: 50px;
  border: 1px #fd9d3e solid;
  background-color: #fd9d3e;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s all;
}
.third-main .third-main-button button:hover {
  background-color: white;
  color: #fd9d3e;
}

.fourth-main {
  padding-bottom: 246px;
  background-color: #121619;
}
.fourth-main .fourth-main-top-img img {
  width: 100%;
}
.fourth-main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fourth-main-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px 0px;
}
.fourth-main-header p {
  font-family: Pacifico;
  color: #fd9d3e;
  font-size: 35px;
}
.fourth-main-header h1 {
  font-size: 50px;
  color: white;
}
.fourth-main-menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourth-main-menu-bar .active-li {
  background-color: #fd9d3e;
  border-radius: 50px;
}
.fourth-main-menu-bar ul {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2c2d;
}
.fourth-main-menu-bar ul li {
  color: white;
  padding: 20px 25px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.fourth-main .menu-box {
  margin-top: 80px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 20px 30px;
}
.fourth-main .menu-box-element {
  animation: scalingAnimation 1.2s;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
.fourth-main .menu-box-element:hover img {
  scale: 1.2;
}
.fourth-main .menu-box-element p {
  padding-top: 25px;
  color: white;
}
.fourth-main .menu-box-element-span1 {
  color: #737475;
  padding: 15px 0px;
  font-size: 14px;
}
.fourth-main .menu-box-element-span2 {
  color: #fd9d3e;
  padding: 12px 0px;
}
.fourth-main .menu-box-element img {
  width: 200px;
  height: 200px;
  transition: 1s all;
}

.fifth-main {
  height: 500px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fifth-main .fifth-main-top-img {
  position: absolute;
  bottom: 99%;
}
.fifth-main .fifth-main-top-img img {
  width: 100%;
}
.fifth-main .fifth-main-content {
  display: none;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 0px 320px;
  padding-bottom: 100px;
  width: 100%;
}
.fifth-main .fifth-main-content .fifth-main-left-part {
  animation: leftAnimation 1.8s;
  width: 500px;
}
.fifth-main .fifth-main-content .fifth-main-left-part p {
  font-family: Pacifico;
  font-size: 32px;
  color: #fd9d3e;
}
.fifth-main .fifth-main-content .fifth-main-left-part h1 {
  font-size: 45px;
  color: #121619;
  white-space: nowrap;
  margin-top: 5px;
}
.fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-span {
  width: 340px;
  margin-top: 25px;
}
.fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-span span {
  font-size: 11.5px;
}
.fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number {
  background-color: #121619;
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  flex-direction: row;
  border: 10px #fd9d3e solid;
  margin-top: 25px;
  transition: 1s all;
  cursor: pointer;
}
.fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number:hover {
  background-color: white;
}
.fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number:hover p {
  color: #121619;
}
.fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number:hover i {
  color: #121619;
}
.fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number p {
  color: white;
  font-size: 32px;
}
.fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number i {
  color: white;
  font-size: 25px;
}
.fifth-main .fifth-main-content .fifth-main-right-part {
  animation: rightAnimation 1.8s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth-main .fifth-main-content .fifth-main-right-part form {
  display: flex;
  flex-direction: column;
}
.fifth-main .fifth-main-content .fifth-main-right-part form input {
  margin-top: 25px;
  border: 1px solid gray;
  padding: 17px;
  width: 550px;
}
.fifth-main .fifth-main-content .fifth-main-right-part form input:focus {
  border: 1px solid #fd9d3e;
}
.fifth-main .fifth-main-content .fifth-main-right-part .fifth-main-button {
  margin-top: 20px;
}
.fifth-main .fifth-main-content .fifth-main-right-part .fifth-main-button button {
  padding: 20px 30px;
  background-color: #121619;
  color: white;
  border-radius: 50px;
  border: 1px #121619 solid;
  font-weight: 700;
  cursor: pointer;
}
.fifth-main .fifth-main-content .fifth-main-right-part .fifth-main-button button:hover {
  color: #121619;
  background-color: white;
}

/*#region Main-Banner-Responsive*/
@media only screen and (max-width: 1680px) {
  .main-banner .main-first-part {
    padding: 0px 200px;
  }
}
@media only screen and (max-width: 1560px) {
  .main-banner .main-first-part {
    padding: 0px 180px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 100px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 15px;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-1 {
    left: 65%;
    bottom: 72%;
    width: 35%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-2 {
    top: -5%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-3 {
    top: 15%;
    left: -10%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-4 {
    bottom: -12%;
    left: 45%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-5 {
    right: -5%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-6 {
    right: 0%;
    top: 85%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-pizza {
    width: 90%;
  }
}
@media only screen and (max-width: 1420px) {
  .main-banner .main-first-part {
    padding: 0px 150px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 100px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1380px) {
  .main-banner .main-first-part {
    padding: 0px 120px;
  }
}
@media only screen and (max-width: 1320px) {
  .main-banner .main-first-part {
    padding: 0px 100px;
  }
}
@media only screen and (max-width: 1250px) {
  .main-banner .main-first-part {
    padding: 0px 80px;
  }
}
@media only screen and (max-width: 1200px) {
  .main-banner .main-first-part {
    padding: 0px 50px;
  }
}
@media only screen and (max-width: 1150px) {
  .main-banner .main-first-part {
    padding: 0px 40px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 90px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {
  .main-banner .main-first-part {
    padding: 0px 60px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 75px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 11px;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-pizza {
    width: 75%;
    margin-left: 15%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-1 {
    left: 68%;
    bottom: 72%;
    width: 30%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-2 {
    left: 4%;
    top: -5%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-3 {
    width: 13%;
    top: 25%;
    left: 3%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-4 {
    bottom: -17%;
    left: 45%;
    width: 15%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-5 {
    right: -2%;
    width: 15%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-6 {
    width: 35%;
    right: 0%;
    top: 85%;
  }
}
@media only screen and (max-width: 900px) {
  .main-banner .main-first-part {
    padding: 0px 50px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 75px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 13px;
  }
}
@media only screen and (max-width: 860px) {
  .main-banner {
    position: relative;
  }
  .main-banner .main-first-part {
    display: flex;
    flex-direction: column;
    padding: 250px 0px;
  }
  .main-banner .main-first-part .first-part-text {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main-banner .main-first-part .first-part-text p {
    animation: opacityScaling 3s;
    font-size: 50px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    animation: opacityScaling 7s;
    font-size: 11px;
  }
  .main-banner .main-first-part .first-part-img {
    position: static !important;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-pizza {
    display: none;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture {
    display: none;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 600px !important;
  }
}
@media only screen and (max-width: 610px) {
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 550px !important;
  }
}
@media only screen and (max-width: 555px) {
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 500px !important;
  }
}
@media only screen and (max-width: 500px) {
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 460px !important;
    height: 280px;
  }
}
@media only screen and (max-width: 460px) {
  .main-banner .main-first-part .first-part-text p {
    font-size: 40px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 9px;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 430px !important;
    height: 230px;
  }
}
@media only screen and (max-width: 430px) {
  .main-banner .main-first-part .first-part-text p {
    font-size: 40px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 9px;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 400px !important;
    height: 230px;
  }
}
@media only screen and (max-width: 400px) {
  .main-banner {
    height: 600px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 35px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 7px;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 350px !important;
    height: 200px;
  }
}
@media only screen and (max-width: 350px) {
  .main-banner {
    height: 600px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 30px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 6px;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 290px !important;
    height: 200px;
  }
}
/*#endregion */
/*#region Main-Second-Responsive*/
@media only screen and (max-width: 1450px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 190px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 22px;
    font-weight: 900;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1300px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 175px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 900;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1200px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 135px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1000px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 100px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 50px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 790px) {
  .second-main {
    height: 750px;
  }
  .second-main .second-main-content .second-main-content-svg-text {
    flex-direction: column;
    padding: 0px 50px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order {
    padding: 20px 0px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 75%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 510px) {
  .second-main {
    height: 750px;
  }
  .second-main .second-main-content .second-main-content-svg-text {
    flex-direction: column;
    padding: 0px 50px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order {
    padding: 20px 0px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 430px) {
  .second-main {
    height: 780px;
  }
  .second-main .second-main-content .second-main-content-svg-text {
    flex-direction: column;
    padding: 0px 30px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order {
    padding: 25px 0px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 85%;
    text-align: center;
    padding-top: 20px;
    font-size: 11px;
  }
}
/*#endregion*/
/*#region Main-Third-Responsive*/
@media only screen and (max-width: 1800px) {
  .third-main .third-main-pizzas {
    padding: 25px 250px;
  }
}
@media only screen and (max-width: 1720px) {
  .third-main .third-main-pizzas {
    padding: 25px 210px;
  }
}
@media only screen and (max-width: 1650px) {
  .third-main .third-main-pizzas {
    padding: 25px 160px;
  }
}
@media only screen and (max-width: 1540px) {
  .third-main .third-main-pizzas {
    padding: 25px 120px;
  }
}
@media only screen and (max-width: 1480px) {
  .third-main .third-main-pizzas {
    padding: 25px 100px;
  }
}
@media only screen and (max-width: 1400px) {
  .third-main .third-main-pizzas {
    padding: 25px 80px;
  }
}
@media only screen and (max-width: 1330px) {
  .third-main .third-main-pizzas {
    padding: 25px 40px;
  }
}
@media only screen and (max-width: 1260px) {
  .third-main .third-main-pizzas {
    padding: 25px 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .third-main .third-main-pizzas {
    padding: 25px 50px;
  }
  .third-main .third-main-pizzas .third-main-pizza img {
    height: 280px;
    width: 280px;
  }
}
@media only screen and (max-width: 1000px) {
  .third-main .third-main-pizzas {
    padding: 25px 5px;
  }
  .third-main .third-main-pizzas .third-main-pizza img {
    height: 280px;
    width: 280px;
  }
}
@media only screen and (max-width: 870px) {
  .third-main .third-main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
  }
  .third-main .third-main-header p {
    font-size: 25px;
  }
  .third-main .third-main-header h1 {
    font-size: 35px;
  }
  .third-main .third-main-pizzas {
    flex-direction: column;
    padding: 25px 5px;
  }
  .third-main .third-main-pizzas .third-main-pizza {
    padding-top: 20px;
  }
  .third-main .third-main-pizzas .third-main-pizza img {
    height: 160px;
    width: 160px;
  }
  .third-main .third-main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .third-main .third-main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
  }
  .third-main .third-main-header p {
    font-size: 25px;
  }
  .third-main .third-main-header h1 {
    font-size: 35px;
  }
  .third-main .third-main-pizzas {
    flex-direction: column;
    padding: 25px 5px;
  }
  .third-main .third-main-pizzas .third-main-pizza {
    padding-top: 20px;
  }
  .third-main .third-main-pizzas .third-main-pizza img {
    height: 150px;
    width: 150px;
  }
}
/*#endregion */
/*#region Main-Fourth-Responsive*/
@media only screen and (max-width: 1024px) {
  .fourth-main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .fourth-main .menu-box {
    margin-top: 80px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px 30px;
  }
  .fourth-main .menu-box-element {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .fourth-main .menu-box-element:hover img {
    scale: 1.2;
  }
  .fourth-main .menu-box-element p {
    padding-top: 25px;
    color: white;
  }
  .fourth-main .menu-box-element-span1 {
    color: #737475;
    padding: 15px 0px;
    font-size: 14px;
  }
  .fourth-main .menu-box-element-span2 {
    color: #fd9d3e;
    padding: 12px 0px;
  }
  .fourth-main .menu-box-element img {
    width: 200px;
    height: 200px;
    transition: 1s all;
  }
}
@media only screen and (max-width: 830px) {
  .fourth-main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .fourth-main .menu-box {
    margin-top: 80px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px 30px;
  }
  .fourth-main .menu-box-element {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .fourth-main .menu-box-element:hover img {
    scale: 1.2;
  }
  .fourth-main .menu-box-element p {
    padding-top: 25px;
    color: white;
  }
  .fourth-main .menu-box-element-span1 {
    color: #737475;
    padding: 15px 0px;
    font-size: 14px;
  }
  .fourth-main .menu-box-element-span2 {
    color: #fd9d3e;
    padding: 12px 0px;
  }
  .fourth-main .menu-box-element img {
    width: 160px;
    height: 160px;
    transition: 1s all;
  }
}
@media only screen and (max-width: 700px) {
  .fourth-main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .fourth-main .menu-box {
    margin-top: 80px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px 30px;
  }
  .fourth-main .menu-box-element {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .fourth-main .menu-box-element:hover img {
    scale: 1.2;
  }
  .fourth-main .menu-box-element p {
    padding-top: 25px;
    color: white;
    font-size: 12px;
  }
  .fourth-main .menu-box-element-span1 {
    color: #737475;
    padding: 15px 0px;
    font-size: 11px;
  }
  .fourth-main .menu-box-element-span2 {
    color: #fd9d3e;
    padding: 12px 0px;
  }
  .fourth-main .menu-box-element img {
    width: 140px;
    height: 140px;
    transition: 1s all;
  }
}
@media only screen and (max-width: 600px) {
  .fourth-main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .fourth-main-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0px;
  }
  .fourth-main-header p {
    font-family: Pacifico;
    color: #fd9d3e;
    font-size: 26px;
  }
  .fourth-main-header h1 {
    font-size: 40px;
    color: white;
  }
  .fourth-main-menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fourth-main-menu-bar .active-li {
    background-color: #fd9d3e;
    border-radius: 50px;
  }
  .fourth-main-menu-bar ul {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2c2d;
  }
  .fourth-main-menu-bar ul li {
    color: white;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  .fourth-main .menu-box {
    margin-top: 80px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px 30px;
  }
  .fourth-main .menu-box-element {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .fourth-main .menu-box-element:hover img {
    scale: 1.2;
  }
  .fourth-main .menu-box-element p {
    padding-top: 25px;
    color: white;
    font-size: 15px;
  }
  .fourth-main .menu-box-element-span1 {
    color: #737475;
    padding: 15px 0px;
    font-size: 11px;
  }
  .fourth-main .menu-box-element-span2 {
    color: #fd9d3e;
    padding: 12px 0px;
  }
  .fourth-main .menu-box-element img {
    width: 160px;
    height: 160px;
    transition: 1s all;
  }
}
@media only screen and (max-width: 500px) {
  .fourth-main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .fourth-main-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0px;
  }
  .fourth-main-header p {
    font-family: Pacifico;
    color: #fd9d3e;
    font-size: 20px;
  }
  .fourth-main-header h1 {
    font-size: 30px;
    color: white;
  }
  .fourth-main-menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fourth-main-menu-bar .active-li {
    background-color: #fd9d3e;
    border-radius: 50px;
  }
  .fourth-main-menu-bar ul {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2c2d;
  }
  .fourth-main-menu-bar ul li {
    color: white;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  .fourth-main .menu-box {
    margin-top: 80px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 15px 20px;
  }
  .fourth-main .menu-box-element {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .fourth-main .menu-box-element:hover img {
    scale: 1.2;
  }
  .fourth-main .menu-box-element p {
    padding-top: 25px;
    color: white;
    font-size: 15px;
  }
  .fourth-main .menu-box-element-span1 {
    color: #737475;
    padding: 15px 0px;
    font-size: 11px;
  }
  .fourth-main .menu-box-element-span2 {
    color: #fd9d3e;
    padding: 12px 0px;
  }
  .fourth-main .menu-box-element img {
    width: 150px;
    height: 150px;
    transition: 1s all;
  }
}
@media only screen and (max-width: 400px) {
  .fourth-main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .fourth-main-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0px;
  }
  .fourth-main-header p {
    font-family: Pacifico;
    color: #fd9d3e;
    font-size: 20px;
  }
  .fourth-main-header h1 {
    font-size: 25px;
    color: white;
  }
  .fourth-main-menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fourth-main-menu-bar .active-li {
    background-color: #fd9d3e;
    border-radius: 50px;
  }
  .fourth-main-menu-bar ul {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2c2d;
  }
  .fourth-main-menu-bar ul li {
    color: white;
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
  }
  .fourth-main .menu-box {
    margin-top: 80px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 12px 15px;
  }
  .fourth-main .menu-box-element {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .fourth-main .menu-box-element:hover img {
    scale: 1.2;
  }
  .fourth-main .menu-box-element p {
    padding-top: 25px;
    color: white;
    font-size: 15px;
  }
  .fourth-main .menu-box-element-span1 {
    color: #737475;
    padding: 15px 0px;
    font-size: 11px;
  }
  .fourth-main .menu-box-element-span2 {
    color: #fd9d3e;
    padding: 12px 0px;
  }
  .fourth-main .menu-box-element img {
    width: 170px;
    height: 170px;
    transition: 1s all;
  }
}
/*#endregion */
/*#region Main-Fifth-Responsive*/
@media only screen and (max-width: 1570px) {
  .fifth-main {
    height: 600px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .fifth-main .fifth-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 180px;
    width: 100%;
  }
}
@media only screen and (max-width: 1430px) {
  .fifth-main .fifth-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 130px;
    width: 100%;
  }
}
@media only screen and (max-width: 1300px) {
  .fifth-main .fifth-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    width: 100%;
  }
}
@media only screen and (max-width: 1230px) {
  .fifth-main .fifth-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
    width: 100%;
  }
}
@media only screen and (max-width: 1140px) {
  .fifth-main .fifth-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    width: 100%;
  }
}
@media only screen and (max-width: 1020px) {
  .fifth-main .fifth-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part {
    width: 500px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part p {
    font-family: Pacifico;
    font-size: 32px;
    color: #fd9d3e;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part h1 {
    font-size: 45px;
    color: #121619;
    margin-top: 5px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-span {
    width: 340px;
    margin-top: 25px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-span span {
    font-size: 11.5px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number {
    background-color: #121619;
    width: 270px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    flex-direction: row;
    border: 10px #fd9d3e solid;
    margin-top: 25px;
    transition: 1s all;
    cursor: pointer;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number:hover {
    background-color: white;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number:hover p {
    color: #121619;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number:hover i {
    color: #121619;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number p {
    color: white;
    font-size: 22px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-number i {
    color: white;
    font-size: 20px;
  }
  .fifth-main .fifth-main-content .fifth-main-right-part form input {
    width: 450px;
  }
}
@media only screen and (max-width: 850px) {
  .fifth-main .fifth-main-content .fifth-main-right-part form input {
    width: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .fifth-main {
    height: 1000px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .fifth-main .fifth-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-span span {
    text-align: center;
  }
  .fifth-main .fifth-main-content .fifth-main-right-part {
    margin-top: 50px;
  }
  .fifth-main .fifth-main-content .fifth-main-right-part form input {
    width: 600px;
  }
}
@media only screen and (max-width: 620px) {
  .fifth-main .fifth-main-content .fifth-main-right-part form input {
    width: 500px;
  }
}
@media only screen and (max-width: 525px) {
  .fifth-main .fifth-main-content .fifth-main-left-part {
    width: 100%;
  }
  .fifth-main .fifth-main-content .fifth-main-right-part form input {
    width: 400px;
  }
}
@media only screen and (max-width: 420px) {
  .fifth-main .fifth-main-content .fifth-main-left-part p {
    font-family: Pacifico;
    font-size: 24px;
    color: #fd9d3e;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part h1 {
    font-size: 35px;
    color: #121619;
    white-space: nowrap;
    margin-top: 5px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-span {
    width: 300px;
    margin-top: 25px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-span span {
    font-size: 11.5px;
  }
  .fifth-main .fifth-main-content .fifth-main-right-part form input {
    width: 350px;
  }
}
@media only screen and (max-width: 360px) {
  .fifth-main .fifth-main-content .fifth-main-left-part {
    width: 200px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part p {
    font-family: Pacifico;
    font-size: 22px;
    color: #fd9d3e;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part h1 {
    font-size: 32px;
    color: #121619;
    white-space: nowrap;
    margin-top: 5px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-span {
    width: 270px;
    margin-top: 25px;
  }
  .fifth-main .fifth-main-content .fifth-main-left-part .fifth-main-left-part-span span {
    font-size: 11px;
  }
  .fifth-main .fifth-main-content .fifth-main-right-part form input {
    width: 280px;
  }
}
/*#endregion *//*# sourceMappingURL=main.css.map */