.main-banner {
  position: relative;
  background-color: #121619;
  width: 100%;
  height: 820px;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-banner .main-first-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 350px;
}
.main-banner .main-first-part .first-part-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  line-height: 1.5;
}
.main-banner .main-first-part .first-part-text p {
  animation: opacityScaling 3s;
  font-size: 110px;
  color: white;
  font-weight: 750;
}
.main-banner .main-first-part .first-part-text span:nth-child(2) {
  animation: opacityScaling 6s;
  word-spacing: 10px;
  letter-spacing: 6px;
  color: #fd9d3e;
  font-size: 21px;
  white-space: nowrap;
}
.main-banner .main-first-part .first-part-img {
  position: relative;
}
.main-banner .main-first-part .first-part-img .first-part-img-pizza {
  animation: opacity 2s;
  width: 90%;
}
.main-banner .main-first-part .first-part-img .first-part-second-img {
  display: none;
  animation: opacity 6s;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture img {
  position: absolute;
  bottom: 20%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-1 {
  animation: opacityScaling 4s;
  left: 72%;
  bottom: 72%;
  width: 30%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-2 {
  animation: opacityScaling 5s;
  top: -2%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-3 {
  animation: opacityScaling 6s;
  top: 20%;
  left: -7%;
  width: 10%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-4 {
  animation: opacityScaling 6s;
  bottom: -12%;
  left: 45%;
  z-index: 1;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-5 {
  animation: opacityScaling 5s;
  right: 0%;
}
.main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-6 {
  animation: opacityScaling 2.5s;
  right: 0%;
  top: 83%;
  width: 30%;
}
.main-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.second-main {
  height: 400px;
  background-color: #fd9d3e;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-main .second-main-content .second-main-content-svg-text {
  align-items: center;
  justify-content: center;
  padding: 0px 200px;
  display: none;
}
.second-main .second-main-content .second-main-content-svg-text img {
  max-width: 90px;
}
.second-main .second-main-content .second-main-content-svg-text .second-main-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: marginBottom 1s;
}
.second-main .second-main-content .second-main-content-svg-text .second-main-order img {
  animation: opacityScaling 1s;
  cursor: pointer;
}
.second-main .second-main-content .second-main-content-svg-text .second-main-order p {
  animation: opacityScaling 2s;
  font-size: 25px;
  font-weight: 900;
  padding-top: 15px;
  color: #121619;
}
.second-main .second-main-content .second-main-content-svg-text .second-main-order span {
  animation: opacityScaling 2.5s;
  width: 65%;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}
.second-main .second-main-content .second-main-top-img {
  position: absolute;
  left: 0;
  bottom: 99%;
}
.second-main .second-main-content .second-main-top-img img {
  width: 100%;
}
.second-main .second-main-content .second-main-bottom-img {
  position: absolute;
  left: 0;
  top: 99%;
}
.second-main .second-main-content .second-main-bottom-img img {
  width: 100%;
}

.third-main {
  background-color: gray;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: -1;
}
.third-main .third-main-bottom-img {
  position: absolute;
  bottom: 0;
}
.third-main .third-main-bottom-img img {
  width: 100%;
}

/*#region Main-Banner-Responsive*/
@media only screen and (max-width: 1680px) {
  .main-banner .main-first-part {
    padding: 0px 200px;
  }
}
@media only screen and (max-width: 1560px) {
  .main-banner .main-first-part {
    padding: 0px 180px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 100px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 15px;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-1 {
    left: 65%;
    bottom: 72%;
    width: 35%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-2 {
    top: -5%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-3 {
    top: 15%;
    left: -10%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-4 {
    bottom: -12%;
    left: 45%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-5 {
    right: -5%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-6 {
    right: 0%;
    top: 85%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-pizza {
    width: 90%;
  }
}
@media only screen and (max-width: 1420px) {
  .main-banner .main-first-part {
    padding: 0px 150px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 100px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1380px) {
  .main-banner .main-first-part {
    padding: 0px 120px;
  }
}
@media only screen and (max-width: 1320px) {
  .main-banner .main-first-part {
    padding: 0px 100px;
  }
}
@media only screen and (max-width: 1250px) {
  .main-banner .main-first-part {
    padding: 0px 80px;
  }
}
@media only screen and (max-width: 1200px) {
  .main-banner .main-first-part {
    padding: 0px 50px;
  }
}
@media only screen and (max-width: 1150px) {
  .main-banner .main-first-part {
    padding: 0px 40px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 90px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {
  .main-banner .main-first-part {
    padding: 0px 60px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 75px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 11px;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-pizza {
    width: 75%;
    margin-left: 15%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-1 {
    left: 68%;
    bottom: 72%;
    width: 30%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-2 {
    left: 4%;
    top: -5%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-3 {
    width: 13%;
    top: 25%;
    left: 3%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-4 {
    bottom: -17%;
    left: 45%;
    width: 15%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-5 {
    right: -2%;
    width: 15%;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture .garniture-6 {
    width: 35%;
    right: 0%;
    top: 85%;
  }
}
@media only screen and (max-width: 900px) {
  .main-banner .main-first-part {
    padding: 0px 50px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 75px;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 13px;
  }
}
@media only screen and (max-width: 860px) {
  .main-banner {
    position: relative;
  }
  .main-banner .main-first-part {
    display: flex;
    flex-direction: column;
    padding: 250px 0px;
  }
  .main-banner .main-first-part .first-part-text {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main-banner .main-first-part .first-part-text p {
    animation: opacityScaling 3s;
    font-size: 50px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    animation: opacityScaling 7s;
    font-size: 11px;
  }
  .main-banner .main-first-part .first-part-img {
    position: static !important;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-pizza {
    display: none;
  }
  .main-banner .main-first-part .first-part-img .first-part-img-garniture {
    display: none;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 600px !important;
  }
}
@media only screen and (max-width: 610px) {
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 550px !important;
  }
}
@media only screen and (max-width: 555px) {
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 500px !important;
  }
}
@media only screen and (max-width: 500px) {
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 460px !important;
    height: 280px;
  }
}
@media only screen and (max-width: 460px) {
  .main-banner .main-first-part .first-part-text p {
    font-size: 40px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 9px;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 430px !important;
    height: 230px;
  }
}
@media only screen and (max-width: 430px) {
  .main-banner .main-first-part .first-part-text p {
    font-size: 40px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 9px;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 400px !important;
    height: 230px;
  }
}
@media only screen and (max-width: 400px) {
  .main-banner {
    height: 600px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 35px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 7px;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 350px !important;
    height: 200px;
  }
}
@media only screen and (max-width: 350px) {
  .main-banner {
    height: 600px;
  }
  .main-banner .main-first-part .first-part-text p {
    font-size: 30px;
    white-space: nowrap;
  }
  .main-banner .main-first-part .first-part-text span:nth-child(2) {
    font-size: 6px;
  }
  .main-banner .main-first-part .first-part-img .first-part-second-img img {
    width: 290px !important;
    height: 200px;
  }
}
/*#endregion */
/*#region Main-Second-Responsive*/
@media only screen and (max-width: 1450px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 190px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 22px;
    font-weight: 900;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1300px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 175px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 900;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1200px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 135px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1000px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 100px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  .second-main .second-main-content .second-main-content-svg-text {
    padding: 0px 50px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 790px) {
  .second-main {
    height: 750px;
  }
  .second-main .second-main-content .second-main-content-svg-text {
    flex-direction: column;
    padding: 0px 50px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order {
    padding: 20px 0px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 75%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 510px) {
  .second-main {
    height: 750px;
  }
  .second-main .second-main-content .second-main-content-svg-text {
    flex-direction: column;
    padding: 0px 50px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order {
    padding: 20px 0px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 430px) {
  .second-main {
    height: 780px;
  }
  .second-main .second-main-content .second-main-content-svg-text {
    flex-direction: column;
    padding: 0px 30px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order {
    padding: 25px 0px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order p {
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
  }
  .second-main .second-main-content .second-main-content-svg-text .second-main-order span {
    width: 85%;
    text-align: center;
    padding-top: 20px;
    font-size: 11px;
  }
}
/*#endregion*//*# sourceMappingURL=main.css.map */