.header {
    z-index: 2;
    transition: 0.5s all;
    --header-height-padding: 15px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
  
    // background-color: #121619;
    width: 100%;
    padding: var(--header-height-padding) 0px;
    white-space: nowrap;
  
    .burger-content {
      ul {
        color: white;
        display: none;
        li:hover {
          color: #121619;
        }
      }
    }
  
    .container {
      width: 65%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .logo-div {
        a {
          display: block;
        }
      }
      .navbar-components {
        display: flex;
        align-items: center;
        height: 100%;
  
        .nav-burger {
          font-size: 30px;
          display: none;
        }
  
        .navigation-buttons {
          ul {
            display: flex;
            li {
              margin: 0px 25px;
              font-weight: 100;
              font-size: 14px;
              color: white;
              &:hover {
                color: $colorOrange;
                cursor: pointer;
                transition: 0.35s all;
              }
            }
          }
        }
  
        .nav-contact {
          cursor: pointer;
          padding: 0px 10px;
          i {
            color: #fd9d3e;
          }
          span {
            padding: 0px 5px;
            color: white;
            font-size: 14px;
          }
        }
        .nav-shop-price {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0px 10px;
  
          .nav-shop-based {
            cursor: pointer;
          }
          i {
            color: #fd9d3e;
          }
          span {
            font-size: 14px;
            padding: 0px 5px;
            color: white;
          }
          .nav-shop-dropdown {
            position: absolute;
            animation: burgerContent 0.5s;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
            border-top: $colorOrange 4px solid;
            width: 275px;
            left: 50%;
            transform: translateX(-50%);
            top: calc(100% + var(--header-height-padding));
            height: 380px;
  
            .shop-dropdown-bottom {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
  
              .shop-dropdown-text {
                margin-bottom: 17px;
                display: flex;
                padding: 0px 15px;
                justify-content: space-between;
                span {
                  color: black;
                }
              }
  
              .shop-dropdown-buttons {
                display: flex;
                padding: 0px 20px;
                justify-content: space-between;
                margin-bottom: 10px;
  
                button {
                  cursor: pointer;
                  background-color: $colorOrange;
                  border: none;
                  border-radius: 25px;
                  padding: 15px;
                  color: white;
                  border: 1px solid transparent;
                  &:hover {
                    background-color: white;
                    border: 1px $colorOrange solid;
                    color: $colorOrange;
                  }
                }
              }
            }
  
            .shop-dropdown-pizza {
              .dropdown-input {
                width: 35px;
                height: 25px;
                padding-left: 10px;
                margin-left: 5px;
                margin-top: 10px;
              }
              .shop-dropdown-pizza-div {
                display: flex;
                align-items: center;
                padding: 20px 14px;
                border-bottom: 1px solid rgb(195, 192, 192);
                .dropdown-pizza-text {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  padding-top: 10px;
                  padding-left: 10px;
                  line-height: 1.7;
                  span:nth-child(1) {
                    font-size: 13px;
                    color: black;
                  }
                  span:nth-child(2) {
                    color: gray;
                  }
                }
              }
              img {
                width: 90px;
                height: 90px;
              }
            }
          }
        }
  
        .nav-order-online {
          padding: 0px 10px;
          button {
            cursor: pointer;
            padding: 15px 10px;
            border-radius: 25px;
            color: white;
            border: none;
            background-color: #91b842;
            transition: 0.5s all;
            &:hover {
              background-color: #b77533;
            }
          }
        }
      }
    }
  }

  .header-color {
    background-color: #121619;
  }
  
  .shop-background-blur {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: transparent;
    z-index: 1;
  }

  