@import "./header-scss/header.scss";
@import "./main-scss/main.scss";
@import "./footer-scss/footer.scss";

@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

$colorOrange: #fd9d3e;
$colorBlack: #121619;

.dn {
  display: none;
}

.db {
  display: block;
}

.df {
  display: flex;
}

.white {
  color: white;
}

.opacityZero {
  opacity: 0;
}

.scroll-top {
  position: fixed;
  background-color: $colorOrange;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 50px;
  cursor: pointer;
  right: 2%;
  bottom: 3%;
  &:hover {
    background-color: black;
    i {
      color: white;
    }
  }
  i {
    color: white;
    font-size: 22px;
  }
}

//Animations
/*#region Animation*/

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityScaling {
  0% {
    opacity: 0;
    scale: 0.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes marginBottom {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-bottom: 0px;
  }
}

@keyframes marginBottomLowPixel {
  0% {
    opacity: 0.1;
    margin-top: 30px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}

@keyframes leftAnimation {
  0% {
    transform: translateX(-50%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes rightAnimation {
  0% {
    transform: translateX(50%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
/*#endregion */

.fourth-main {
  padding-bottom: 246px;
  background-color: $colorBlack;
  .fourth-main-top-img {
    img {
      width: 100%;
    }
  }
  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0px;
    p {
      font-family: Pacifico;
      color: $colorOrange;
      font-size: 35px;
    }
    h1 {
      font-size: 50px;
      color: white;
    }
  }

  &-menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    .active-li {
      background-color: $colorOrange;
      border-radius: 50px;
    }
    ul {
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2b2c2d;
      li {
        color: white;
        padding: 20px 25px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  .menu-box {
    margin-top: 80px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    &-element {
      margin: 10px 30px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 20%;
      p {
        padding-top: 25px;
        color: white;
      }
      &-span1 {
        color: #737475;
        padding: 15px 0px;
        font-size: 14px;
      }
      &-span2 {
        color: $colorOrange;
        padding: 12px 0px;
      }
      img {
        width: 200px;
      }
    }
  }
}
