@import "./header-scss/header.scss";
@import "./main-scss/main.scss";
@import "./footer-scss/footer.scss";

@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

$colorOrange: #fd9d3e;
$colorBlack: #121619;

.dn {
  display: none;
}

.db {
  display: block;
}

.df {
  display: flex;
}

.white {
  color: white;
}

.opacityZero {
  opacity: 0;
}

.scroll-top {
  position: fixed;
  background-color: $colorOrange;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 50px;
  cursor: pointer;
  right: 2%;
  bottom: 3%;
  animation: opacityScaling .8s;
  &:hover {
    background-color: black;
    i {
      color: white;
    }
  }
  i {
    color: white;
    font-size: 22px;
  }
}

//Animations
/*#region Animation*/

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityScaling {
  0% {
    opacity: 0;
    scale: 0.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes marginBottom {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-bottom: 0px;
  }
}

@keyframes marginBottomLowPixel {
  0% {
    opacity: 0.1;
    margin-top: 30px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}

@keyframes leftAnimation {
  0% {
    transform: translateX(-50%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes rightAnimation {
  0% {
    transform: translateX(50%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes scalingAnimation {
  0% {
    scale: .5;
  }
  100% {
    scale: 1;
  }
}
/*#endregion */
